@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

p {
    font-size: 1.3vw;
}

#login {
    padding: 2vw;
    box-shadow: 0 4px 8vw 0 rgba(0, 0, 0, 0.384)
}

#profile {
    padding: 2vw;
    padding-bottom: 1vw;
    box-shadow: 0 4px 8vw 0 rgba(0, 0, 0, 0.384);
    width: 30%;
}

#logo {
    margin: 2.3vw;

}

#logo > img {
    height: 7vw;
}

input {
    padding: 1.2vw;
    font-size: 1vw;
    height: 3.5vw;
    background-color: #F1F1F1;
    border-radius: 0.5vw;
    width: 100%;
}

.campoinput {
    margin-bottom: 2vw;
}

.dados {
    padding: 1.2vw;
    height: 3.5vw;
    background-color: #F1F1F1;
    border-radius: 0.5vw;
    width: 100%;
    margin-bottom: 1.5vw;
}

#sign-in {
    color: white;
    height: 3.5vw;
    width: 100%;
    border-radius: 0.5vw;
    background-color: #02274D;
}

#log-out {
    color: white;
    height: 2.5vw;
    width: 5vw;
    border-radius: 0.5vw;
}

#profilepic {
    height: 5vw;
    border-radius: 1vw;
    margin-bottom: 1vw;
}

.azul {
    color: #02274D;
}